* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
header {
  padding: 30px;
  text-align: center;
  background: #79AFEC;
}

h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
nav {
  overflow: hidden;
  background-color: #BCD6F3;
}

/* Style the topnav links */
li a {
  float: left;
  display: block;
  text-align: center;
  padding : 14px 16px;
  text-decoration: none;
  color: black
  display: block;
}

/* Change color on hover */
li a:hover {
  background-color: #044288 ;
  color: white;
}
